<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Game_of_Life.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_of_Life.Properties.Settings>
            <setting name="interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="universe_width" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="universe_height" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="seed" serializeAs="String">
                <value>1216548446</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="gridIntervalColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>Toroidal</value>
            </setting>
        </Game_of_Life.Properties.Settings>
        <Game_of_Life.Properties.UserSettings>
            <setting name="interval" serializeAs="String">
                <value>50</value>
            </setting>
        </Game_of_Life.Properties.UserSettings>
    </userSettings>
</configuration>